.button {
    border-radius: 100%;
    width: 5.5vh;
    height: 5.5vh;
    background-color: #ffcc00;
    float: right;
    margin-top: 0.6vh;
    margin-right: 0.5vh;
    border: #ffcc00;
    display: inline-flex;
    justify-content: center;
}