.search {
  margin-top: 95px;
  width: 50%;
}
@media screen and (max-width: 1440px) {
  .search {
    margin-top: 80px;
    width: 45%;
  }
}

@media only screen and (max-width: 425px) {
  .search {
    margin-top: 0px;
    width: 100%;
    z-index: 1;
  }
}
