.btnsml {
    width: 2em;
    height: 2em;
    border-width: 0.3vh;
    border-style: outset;
}

#bar{
    background-color: green;
    clip-path: polygon(56% 0, 100% 0, 100% 100%, 0 100%, 0 10%, 36% 10%);
    height: 1vh;
    width: 96%;
    background: rgb(143, 5, 5);
    transform: translate(1vh, 4.2vh);
    border-radius: 2vh 2vh 0 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.pokeHeader{
    background-color: maroon;
    padding: 20px
}

