/*
.btnsml {
    width: 2em;
    height: 2em;
    border-width: 0.3vh;
    border-style: outset;    
}
*/

#bar:before{
    content: '';
    clip-path: polygon( 0% 0%, 0% 100%, 30% 100%, 45% 5%, 100% 5%, 100% 0%);
    height: 11vh;
    width: 100%;
    background: #D62929;    
    border: 0;
    
    display: block;
    position: absolute;
    border-bottom: blue;
    box-sizing: border-box;
}

#bar{
    clip-path: polygon( 0% 0%, 0% 100%, 30% 100%, 45% 15%, 100% 15%, 100% 0% );
    height: 12vh;
    width: 100%;
    background: #691111;    
    position: relative;
    border: 0;
    box-sizing: border-box;
}




.pokeHeader{
    background-color: #D62929;
    padding: 30px 30px 10px 50px;
    height: 5vh;
}

.search {
    margin-top: 8.5vh;    
}

@media (max-width:768){
    .search {
        padding-left: 50px;
        padding-right: 5px;
        margin-left: 5px;        
    }
}

@media (max-width: 425px) {
    .pokeHeader{
        background-color: #D62929;
        padding: 30px 30px 10px 10px;
        height: 5vh;
    }

    #bar:before{
        content: '';
        clip-path: polygon( 0% 0%, 0% 20%, 100% 20%, 100% 0%);
        height: 3vh;
        width: 100%;
        background: #D62929;    
        border: 0;        
        display: block;
        position: absolute;
        border-bottom: blue;
        box-sizing: border-box;
    }
    
    #bar{
        clip-path: polygon(0% 0%, 0% 20%, 100% 20%, 100% 0%);
        height: 4vh;
        width: 100%;
        background: #691111;    
        position: relative;
        border: 0;
        box-sizing: border-box;
    }
}

@media (max-width: 320px) {
    .pokeHeader{
        background-color: #D62929;
        padding: 30px -40px 10px 0px;
        height: 5vh;
    }
}

