.info-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number {
  margin: 0px;
  color: #737373;
}
.name {
  margin: 0px;
}
.info-tags {
  display: flex;
}
.tag1 {
  margin: 0px 4px;
  border-radius: 8px;
  background-color: #7ed957;
  padding: 0px 8px;
  color: white;
}
.tag2 {
  margin: 0px 4px;
  border-radius: 8px;
  background-color: #cb6ce6;
  padding: 0px 8px;
  color: white;
}
