.detail-text {
  width: 40%;
}
.detail-name-number {
  font-size: 4vh;
}
.detail-name {
  margin: 0px 8px;
}
.detail-number {
  margin: 0px;
  color: #737373;
}

.detail-gen {
  display: flex;
  align-items: center;
  font-size: 3vh;
}
.gen-title {
  margin: 0px 8px;
}
.gen-name {
  margin: 0px;
}
.detail-clas {
  display: flex;
  align-items: center;
  font-size: 3vh;
}
.clas-title {
  margin: 0px 8px;
}
.clas-name {
  margin: 0px;
}
.clas-name > * {
  text-decoration: none;
  color: #737373;
}
.clas-name > *:hover {
  text-decoration: underline;
}
.type-title {
  margin: 8px 8px;
  font-size: 3vh;
}
.type-tags {
  display: flex;
  text-transform: capitalize;
}
.type-tags > * {
  text-decoration: none;
  color: white;
}
.abil-title {
  margin: 8px 8px;
  font-size: 3vh;
}
.abilities {
  width: 100%;
}
.ability {
  margin: 0px 8px;
  font-size: 2.5vh;
  color: #737373;
}

@media (max-width: 1024px) {
  .detail-name-number {
    font-size: x-large;
  }
  .detail-gen {
    font-size: larger;
  }
  .detail-clas {
    font-size: larger;
  }
  .type-title {
    font-size: larger;
  }
  .abil-title {
    margin: 8px 8px;
    font-size: larger;
  }
  .ability {
    font-size: medium;
  }
}

@media (max-width: 768px) {
  .detail-text {
    width: 50%;
  }
  .detail-name-number {
    font-size: medium;
  }
  .detail-gen {
    font-size: medium;
  }
  .detail-clas {
    font-size: small;
  }
  .type-title {
    font-size: medium;
  }
  .abil-title {
    margin: 8px 8px;
    font-size: small;
  }
  .ability {
    font-size: smaller;
  }
}
@media (max-width: 425px) {
  .detail-name-number {
    font-size: larger;
  }
  .detail-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .detail-number {
    display: flex;
    justify-content: center;
    font-size: larger;
  }
  .detail-gen {
    font-size: small;
  }
  .detail-clas {
    font-size: small;
  }
  .type-title {
    font-size: medium;
  }
  .type-tags {
    display: inline;
  }
  .abil-title {
    margin: 8px 8px;
    font-size: medium;
  }
  .abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ability {
    font-size: small;
  }
}
