:root {
    --colorType: gray;
}
.type {
    background-color: var(--colorType);
    margin: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.2em;
    border-radius: 1vh;
    font-weight: 600;
    font-size: large;
    text-align: center;
    width: 70px;
}
