:root {
    --color1: gray;
    --color2: black;
}
.typeBackground {
    background: repeating-linear-gradient(
    45deg,
    var(--color1),
    var(--color1) 4px,
    #00000000 4px,
    #00000000 8px
    );
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 1%;
}
.typeBackground2 {
    background: repeating-linear-gradient(
    -45deg,
    var(--color2),
    var(--color2) 4px,
    #00000000 4px,
    #00000000 8px
    );
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokemonImg {
    width: 150px;
}
