/* :root {
    --def: rgb(167, 165, 165);
    --flying: #98bcec;
    --steel: #5095a4;
    --rock: #cdbb8b;
    --grass: #6cbc5b;
    --dark: #585661;
    --ghost: #4f6fbc;
    --water: #369edf;
    --fairy: #ec93e5;
    --poison: #af66cf;
    --normal: #a0a29f;
    --fighting: #d6435d;
    --ground: #de7c4d;
    --fire: #ffa44d;
    --psychic: #ff8582;
    --bug: #9bbc31;
    --ice: #74d0c3;
    --electric: #fcd850;
    --dragon:#016dc9;

} */
:root {
    --def: rgb(167, 165, 165);
    --flying: #c6dcfad3;
    --steel: #5da0afc4;
    --rock: #e2d2a6d0;
    --grass: rgba(153, 226, 137, 0.596);
    --dark: #87858dc0;
    --ghost: #98a8cfde;
    --water:rgba(173, 213, 238, 0.692);
    --fairy: #fac6f69f;
    --poison: #cfabdfce;
    --normal: #d8d8d8d7;
    --fighting: #e094a2d3;
    --ground: #e2a98fdc;
    --fire: #ffca84c0;
    --psychic: #fdcac9c2;
    --bug: #d0e28dd8;
    --ice: #acfcf1bd;
    --electric: #ffe99ae7;
    --dragon:#9dc4f1c0;
}
.typeBackground {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.typeBackground .pokemonImg {
    width: 150px;
}

.single {
    aspect-ratio: 1 / 1;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.single .pokemonImg {
    width: 80%;
}

.flying-back {
    background-color: var(--flying);
}

.steel-back {
    background-color: var(--steel);
}

.rock-back {
    background-color: var(--rock);
}

.grass-back {
    background-color: var(--grass);
}

.dark-back {
    background-color: var(--dark);
}

.ghost-back {
    background-color: var(--ghost);
}

.water-back {
    background-color: var(--water);
}

.fairy-back {
    background-color: var(--fairy);
}

.poison-back {
    background-color: var(--poison);
}

.normal-back {
    background-color: var(--normal);
}

.fighting-back {
    background-color: var(--fighting);
}

.ground-back {
    background-color: var(--ground);
}

.fire-back {
    background-color: var(--fire);
}

.psychic-back {
    background-color: var(--psychic);
}

.bug-back {
    background-color: var(--bug);
}

.ice-back {
    background-color: var(--ice);
}

.electric-back {
    background-color: var(--electric);
}

.dragon-back {
    background-color: var(--dragon);
}

@media (max-width: 1024px) {
    .single{
        width: 45%;
    }
}

@media (max-width: 768px) {
    .single {
        aspect-ratio: 1 / 1;
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .single .pokemonImg {
        width: 80%;
    }
}
@media (max-width: 425px) {
    .single {
        aspect-ratio: 1 / 1;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
    .single .pokemonImg {
        width: 80%;
    }
}