.single-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pokemon-details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}
.pokemon-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 68vh;
  margin-right: 24px;
}

@media (max-width: 425px) {
  .pokemon-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 232px;
  }
}
