.pokemon-details {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon-arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78vh;
}

@media (max-width: 500px) {
  .pokemon-details {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}