.title-line:after {
  content: "";
  display: block;
  background-color: #d9d9d9;
  height: 5px;
  flex-grow: 0.95;
  margin-left: 16px;
}
.title-line {
  display: flex;
  align-items: center;
  margin-left: 16px;
}
.title-img {
  width: 40px;
  margin-left: 8px;
}

@media (max-width: 425px) {
  .pokemon-list-header {
    padding-top: 30px;
    margin-top: 35px;
  }
}
